Sklep.WebApp/Service References/ServiceReference1/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sklep.Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sklep.Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart" nillable="true" type="tns:CartDTO" />
      <xs:element minOccurs="0" name="CartID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="CartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartID" type="xs:int" />
      <xs:element minOccurs="0" name="CartItems" nillable="true" type="tns:ArrayOfCartItemDTO" />
      <xs:element minOccurs="0" name="Prize" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartDTO" nillable="true" type="tns:CartDTO" />
  <xs:complexType name="ArrayOfCartItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartItemDTO" nillable="true" type="tns:CartItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartItemDTO" nillable="true" type="tns:ArrayOfCartItemDTO" />
  <xs:complexType name="CartItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ItemDTO" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Prize" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quanity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartItemDTO" nillable="true" type="tns:CartItemDTO" />
  <xs:complexType name="ItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prize" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quanity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDTO" nillable="true" type="tns:ItemDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="OrderCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCheck" nillable="true" type="tns:OrderCheck" />
</xs:schema>