Sklep.WebApp/Service References/ServiceReference1/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3060/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3060/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3060/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sklep.Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IOrderService_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="IOrderService_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IOrderService_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IOrderService_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IOrderService_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/getAll" message="tns:IOrderService_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/getAllResponse" message="tns:IOrderService_getAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/get" message="tns:IOrderService_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/getResponse" message="tns:IOrderService_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/add" message="tns:IOrderService_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/addResponse" message="tns:IOrderService_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/update" message="tns:IOrderService_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/updateResponse" message="tns:IOrderService_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/delete" message="tns:IOrderService_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/deleteResponse" message="tns:IOrderService_delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OrderService" />
</wsdl:definitions>